<footer class="footer">
  <small>
    RyMe's Organic Diner and the RyMe's logo are property of RyMe's Food Services LLC
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
