<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  RyMe's was created with some simple goals in mind. The first was to provide fresh, healthy, organic food to an industry that is increasingly dominated by 
  massive chain restaurants and flooded with foods that may be frozen for weeks or kept out under heating lamps for hours before ever being presented to a customer. 
  Not so at RyMe's. Here, all our food is made fresh each day, from the pasta to the sauces we put on them, from ingredients supplied by local farmers. Everyone we've
  ever served can easily taste the difference, and we're confident you will too.<br><hr></p>
<p>
  Our other goal has been to serve those who, unfortunately, have special dietary needs. It is a sad fact in this country that many people have health problems that
  make it difficult for them to find good food. Whether they be diabetic, gluten intolerant, lactose intolerant, vegetarian, or vegan, those with special dietary
  needs are often treated as extremely niche clients by most restaurants, with only token meal offerings available if any are available at all. With this in mind,
  almost everything on our menu is available in diabetes friendly form, as well as for those with different intolerances to certain foods, and we also offer a 
  substantial vegetarian and vegan menu.<br><hr></p>
<p>
  Of course, despite our large focus on those with special eating habits, all are welcome at RyMe's. Come on in and try us out, and you'll be a regular before you
  walk out the door. We guarantee it.
</p>
