<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<div class="center hero-unit">
<p>
  For questions or comments related to our offerings, or to make suggestions for new menu items, feel free to contact us at
  <a href="tel:+13016557963">3016557963</a> or 
  <a href="mailto:feedback@rymes.com">feedback@rymes.com</a>
  <br><hr>
  The webmaster for this site may be reached at <a href"mailto:web@rymes.com">web@rymes.com</a>
</p>
</div>
