<div class="center hero-unit">
	<h1>Welcome to RyMe's Organic Diner</h1>
	<h2>Serving Frederick's finest all natural, organic food since 2015!</h2>
	<%= link_to "Check out our menu!", signup_path,
               class: "btn btn-large btn-primary" %>
  </div>



