 <div class="center hero-unit">
    <h1>Welcome to RyMe's Organic Diner</h1>

    <h2>
      Where all are welcome!
    </h2>

    <%= link_to "Check out our menu!", menu_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

