<h1>Menu</h1>
<div class="center hero-unit">
  <h2>Lunch</h2>
  <small>All lunch items come with your choice of homemade fries or fresh vegetables(cooked or raw)</small>
  <dl>
    <dt>Apple-Glazed Pork</dt>
    <dd>Two slow-roasted pork chops braised in our own special apple cinnamon glaze - $9.50</dd>
    
    <dt>Deli Sandwich</dt>
    <dd>Fresh thick-cut deli meats with your choice of toppings on fresh-baked wheat rolls - $8.50</dd>

    <dt>Baked-Macaroni</dt>
    <dd>Our own home-made macaroni pasta slathered in our special cheese sauce and back with a flaky bread crumb crust - $9.50</dd>
  </dl><hr>

  <h2>Dinner</h2>
  <small>All dinner items come with a choice of two sides</small>
  <dl>
    <dt>House Sirloin</dt>
    <dd>Flame-grilled premium sirloin steak in our special marinade and cooked to your liking - 6oz ($11.50), 8oz ($12.50), 12oz ($14.50)</dd>
    
    <dt>Bread-Bowl Soup</dt>
    <dd>House soup prepared in an edible bowl of italian or whole wheat bread. Choice of home-made cream of chicken or cheesy broccoli soup - $10.50</dd>

    <dt>Spaghetti with Meat Sauce</dt>
    <dd>Freshly made noodles served with a special meat sauce - $9.50 for beef or vegetarian, $11.50 for chicken</dd>
  </dl><hr>

  <h2>Sides</h2>
  <small>All sides available seperately for $2.50</small>
  <dl>
    <dt>Steak fries</dt>

    <dt>Steamed or raw vegetable of the day</dt>

    <dt>Garlic mashed potatoes</dt>

    <dt>Baked potato (butter and sour cream no extra charge)</dt>
  </dl><hr>

  <h2>Desserts</h2>
  <dl>
    <dt>Key Lime Pie</dt>
    <dd>Made with a graham cracker crust - $6.50</dd>

    <dt>Hot Fudge Sundae</dt>
    <dd>Served in an edible chocolate bowl with your choice of toppings - $5.50</dd>
  </dl>
</div>
